@import "src/assets/styles/variables";

.root{
  border: 1px solid $green;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  background: none;
}

.contained{
  background: $green;
  color: #fff;
}

.outlined{
  color: $green;
}

