@import "src/assets/styles/variables";

.root{
  td{
    border: 1px solid $blue;
    padding: 5px;
    text-align: center;
  }

  img{
    display: block;
    cursor: pointer;
    margin: 0 auto;
    width: 15px;
  }
}

.list{
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.list__content{
  display: table;
  width: 100%;
}

.list__head{
  width: 100%;
  background: $blue;
  color: $white;
}

.list__action{
  background: none;
  border: none;
}